<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answer</title>
    <style type="text/css">
        table{ margin:0; }
        .name{ text-align:center;}
        th,td{ font-size: 23px; }
        .cellborder{ border: 1px solid black; }
        .cardborder{ border: 1px solid #8f8f8f; background:#f8f8f8}
        #rotate1{ transform: rotate(45deg); }
        #rotate2{ transform: rotate(-45deg); }
    </style>
</head>
<body>
    <center>
    <table border = 0>
        <tr>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[0][0][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[5][0] }}">{{ answer[0][0][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[0][1][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[5][1] }}">{{ answer[0][1][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[0][2][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[5][2] }}">{{ answer[0][2][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[0][3][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[5][3] }}">{{ answer[0][3][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[0][4][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[5][4] }}">{{ answer[0][4][1] }}</span></table>
        </tr>
        <tr>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[1][0][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[6][0] }}">{{ answer[1][0][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[1][1][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[6][1] }}">{{ answer[1][1][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[1][2][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[6][2] }}">{{ answer[1][2][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[1][3][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[6][3] }}">{{ answer[1][3][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[1][4][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[6][4] }}">{{ answer[1][4][1] }}</span></table>
        </tr>
        <tr>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[2][0][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[7][0] }}">{{ answer[2][0][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[2][1][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[7][1] }}">{{ answer[2][1][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[2][2][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[7][2] }}">{{ answer[2][2][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[2][3][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[7][3] }}">{{ answer[2][3][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[2][4][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[7][4] }}">{{ answer[2][4][1] }}</span></table>
        </tr>
        <tr>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[3][0][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[8][0] }}">{{ answer[3][0][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[3][1][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[8][1] }}">{{ answer[3][1][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[3][2][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[8][2] }}">{{ answer[3][2][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[3][3][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[8][3] }}">{{ answer[3][3][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[3][4][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[8][4] }}">{{ answer[3][4][1] }}</span></table>
        </tr>
        <tr>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[4][0][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[9][0] }}">{{ answer[4][0][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[4][1][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[9][1] }}">{{ answer[4][1][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[4][2][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[9][2] }}">{{ answer[4][2][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[4][3][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[9][3] }}">{{ answer[4][3][1] }}</span></table>
            <td class = "cardborder"><table border = 0><td width = 32px height = 55px align = "center">{{ answer[4][4][0] }}<td width = 32 align = "center"><span style = "color: {{ answer[9][4] }}">{{ answer[4][4][1] }}</span></table>
        </tr>
    </table>
    </center>
</body>
</html>